# SPDX-License-Identifier: GPL-2.0

menuconfig DEVICE_MODULES
	bool "Support for compiling out-of-tree modules within the kernel tree"
	help
	  Say Y if you want to compile the drivers within this device-modules folder.

if DEVICE_MODULES

source "device-modules/drivers/pci/controller/dwc/Kconfig"

source "device-modules/drivers/scsi/ufs/Kconfig"

source "device-modules/drivers/i2c/busses/Kconfig"

source "device-modules/drivers/spi/Kconfig"

source "device-modules/drivers/pinctrl/Kconfig"

endif # DEVICE_MODULES
