# SPDX-License-Identifier: GPL-2.0

menuconfig GOOGLE_MODULES
	bool "Support for compiling out-of-tree modules within the kernel tree"
	help
	  Say Y if you want to compile the drivers within this google-modules folder.

if GOOGLE_MODULES

source "drivers/google-modules/amplifiers/audiometrics/Kconfig"
source "drivers/google-modules/amplifiers/cs35l41/Kconfig"
source "drivers/google-modules/amplifiers/cs40l25/Kconfig"
source "drivers/google-modules/amplifiers/drv2624/Kconfig"
source "drivers/google-modules/aoc/Kconfig"
source "drivers/google-modules/bluetooth/broadcom/Kconfig"
source "drivers/google-modules/bms/Kconfig"
source "drivers/google-modules/display/samsung/Kconfig"
source "drivers/google-modules/edgetpu/drivers/edgetpu/Kconfig"
source "drivers/google-modules/fingerprint/fpc/Kconfig"
source "drivers/google-modules/gpu/mali_kbase/Kconfig"
source "drivers/google-modules/gpu/mali_kbase/arbitration/Kconfig"
source "drivers/google-modules/gpu/mali_kbase/platform/pixel/Kconfig"
source "drivers/google-modules/gpu/mali_kbase/tests/Kconfig"
source "drivers/google-modules/gpu/mali_pixel/Kconfig"
source "drivers/google-modules/lwis/Kconfig"
source "drivers/google-modules/nfc/Kconfig"
source "drivers/google-modules/power/reset/Kconfig"
source "drivers/google-modules/touch/common/Kconfig"
source "drivers/google-modules/touch/fts_touch/ftm5/Kconfig"
source "drivers/google-modules/touch/sec_touch/Kconfig"
source "drivers/google-modules/uwb/kernel/Kconfig"

endif # GOOGLE_MODULES
