# SPDX-License-Identifier: GPL-2.0-only
#
# PINCTRL infrastructure and drivers
#

source "device-modules/drivers/pinctrl/gs/Kconfig"

config PINCTRL_SLG51000
	tristate "Dialog Semiconductor SLG51000 pinctrl driver"
	depends on I2C
	select REGMAP_I2C
	help
	  Say y here to support for the Dialog Semiconductor SLG51000.
	  The SLG51000 is seven compact and customizable low dropout regulators.

